<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <title>Portfolio</title>
    <link rel="stylesheet" href="corporate1.css">
</head>
<body>
  <!-- NAVBAR SECTION -->
    <nav class="navbar navbar-expand-sm sticky-top navbar-dark sticky-top" style="background-color:#6c7d5a">
        <div class="container-fluid">
          <a class="navbar-brand d-md-none" href="#">
            <img src="Black_And_White_Aesthetic_Minimalist_Modern_Simple_Typography_Coconut_Cosmetics_Logo__1_-removebg-preview (1).png" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">ABOUT</a>
              </li>
              <a class="navbar-brand d-none d-md-block" href="/">
                <img src="Black_And_White_Aesthetic_Minimalist_Modern_Simple_Typography_Coconut_Cosmetics_Logo__1_-removebg-preview (1).png" alt="">
              </a>
              <li class="nav-item">
                <a class="nav-link" href="/portfolio">PORTFOLIO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href="/contact">CONTACT</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div class="blank"></div>
        <!-- PARALLEX SECTION -->
    <div class="container">
        <h1>CORPORATE EVENTS</h1>
      </div>
      <div class="blank"></div>
  <!-- CARDS -->
  <div class = container1>
    <div class = card>
      <div class = image>
        <img src = "cp1.jpeg" id="pika">
      </div>
      <div class = content>
        <h3>A night time event with many string lights a tall, narrow sculpture.</h3>
      </div>
    </div>    
 
    <div class = card>
      <div class = image>
        <img src = "cp2.jpg" id="pika">
      </div>
      <div class = content>
        <h3>A large ballroom with white linens on the tables </h3>
    
      </div>
    </div>    
    <div class = card>
      <div class = image>
        <img src = "cp3.jpg" id="pika">
      </div>
      <div class = content>
        <h3>A large banquet hall with black linens, tables, and chairs.</h3>
      
      </div>
    </div> 
  </div> 
  <div class = container1>
    <div class = card>
      <div class = image>
        <img src = "cp4.jpg" id="pika">
      </div>
      <div class = content>
        <h3>A large banquet hall with an ornate, patterned ceiling.</h3>
      </div>
    </div>  
    
    <div class = card>
      <div class = image>
        <img src = "cp5.jpg" id="pika">
      </div>
      <div class = content>
        <h3> A large, modern room with a long table decoration. </h3>
      </div>
    </div> 
    <div class = card>
      <div class = image>
        <img src = "cp6.jpg" id="pika">
      </div>
      <div class = content>
        <h3>A bohemian outdoor event space.</h3>
      </div>
    </div> 
  </div>
    <!-- FOOTER SECTION -->
<div class="logo-container">
  <div class="line"></div>
  <div class="logo"><img src="Black_And_White_Aesthetic_Minimalist_Modern_Simple_Typography_Coconut_Cosmetics_Logo__1_-removebg-preview (1).png"></div>
  <div class="line"></div>
</div>
<footer>
<table>
  <tr>
    <td id="one">
      <ul id="link">
        <li><a href="/portfolio">PORTFOLIO</a></li>
        <li><a href="/services">SERVICES</a></li>
        <li><a href="/about">ABOUT</a></li>
        <!-- <li><a href="/Expense Tracker">EXPENSE TRACKER</a></li> -->
        <li><a href="/dashboard">DASHBOARD</a></li>
      </ul>
    </td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </td>
    <td id="two"><div class="next">
      <p>Destination weddings & events worldwide.</p>
      <h6>join us @cosmic_occasions</h6>
      <br><br><br>
      <h7>© 2019 Cosmic Occasions. All Rights Reserved.</h7>
    </div></td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </td>
    <td id="three">
      <img src="COSMIC_OCCASSIONS-removebg-preview.png" id="lg"><br><br>
      <a href="/contact" id="button">CONTACT</a>
    </td>
  </tr>
</table>
</footer>
</body>
</html>