<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <title>Portfolio</title>
    <link rel="stylesheet" href="mitzvhan.css">
</head>
<body>
   <!-- NAVBAR SECTION -->
    <nav class="navbar navbar-expand-sm sticky-top navbar-dark sticky-top" style="background-color:#6c7d5a">
        <div class="container-fluid">
          <a class="navbar-brand d-md-none" href="#">
            <img src="Black_And_White_Aesthetic_Minimalist_Modern_Simple_Typography_Coconut_Cosmetics_Logo__1_-removebg-preview (1).png" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">ABOUT</a>
              </li>
              <a class="navbar-brand d-none d-md-block" href="/">
                <img src="Black_And_White_Aesthetic_Minimalist_Modern_Simple_Typography_Coconut_Cosmetics_Logo__1_-removebg-preview (1).png" alt="">
              </a>
              <li class="nav-item">
                <a class="nav-link" href="/portfolio">PORTFOLIO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href="/contact">CONTACT</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div class="blank"></div>
     <!-- PARALLEX SECTION -->
    <div class="container">
        <h1>MITZVAHS</h1>
      </div>
      <div class="blank"></div>
   <!-- CARDS -->
   <div class = container1>
    <div class = card>
      <div class = image>
        <img src = "m1.jpg" id="pika">
      </div>
      <div class = content>
        <h3>A table set with a large, white paper flower centerpiece</h3>
    
      </div>
    </div>    
 
    <div class = card>
      <div class = image>
        <img src = "m2.jpg" id="pika">
      </div>
      <div class = content>
        <h3> A long table set with balloons and lights.</h3>
      </div>
    </div>    
    <div class = card>
      <div class = image>
        <img src = "m3.jpg" id="pika">
      </div>
      <div class = content>
        <h3>A table set with floral arrangements and white chairs</h3>
     
      </div>
    </div> 
  </div> 
  <div class = container1>
    <div class = card>
      <div class = image>
        <img src = "m4.jpg" id="pika">
      </div>
      <div class = content>
        <h3>A ceiling covered in balloons and streamers.</h3>
      </div>
    </div>  
    
    <div class = card>
      <div class = image>
        <img src = "m5.jpg" id="pika">
      </div>
      <div class = content>
        <h3>A table set with clear balloons and gold and pink decorations.</h3>
      </div>
    </div> 
    <div class = card>
      <div class = image>
        <img src = "m6.jpg" id="pika">
      </div>
      <div class = content>
        <h3>A large room with a dance floor and a ceiling covered in clouds.</h3>
      </div>
    </div> 
  </div>
    <!-- FOOTER SECTION -->
<div class="logo-container">
  <div class="line"></div>
  <div class="logo"><img src="Black_And_White_Aesthetic_Minimalist_Modern_Simple_Typography_Coconut_Cosmetics_Logo__1_-removebg-preview (1).png"></div>
  <div class="line"></div>
</div>
<footer>
<table>
  <tr>
    <td id="one">
      <ul id="link">
        <li><a href="/portfolio">PORTFOLIO</a></li>
        <li><a href="/services">SERVICES</a></li>
        <li><a href="/about">ABOUT</a></li>
        <!-- <li><a href="/Expense Tracker">EXPENSE TRACKER</a></li> -->
        <li><a href="/dashboard">DASHBOARD</a></li>
      </ul>
    </td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </td>
    <td id="two"><div class="next">
      <p>Destination weddings & events worldwide.</p>
      <h6>join us @cosmic_occasions</h6>
      <br><br><br>
      <h7>© 2019 Cosmic Occasions. All Rights Reserved.</h7>
    </div></td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </td>
    <td id="three">
      <img src="COSMIC_OCCASSIONS-removebg-preview.png" id="lg"><br><br>
      <a href="/contact" id="button">CONTACT</a>
    </td>
  </tr>
</table>
</footer>
<script>
  // Example of JavaScript to interact with the images and content dynamically

  // Change image on click
  document.getElementById('pika1').addEventListener('click', function() {
    alert('You clicked the image of a white paper flower centerpiece!');
  });

  document.getElementById('pika2').addEventListener('click', function() {
    alert('You clicked the image of balloons and lights!');
  });

  document.getElementById('pika3').addEventListener('click', function() {
    alert('You clicked the image of floral arrangements and white chairs!');
  });

  document.getElementById('pika4').addEventListener('click', function() {
    alert('You clicked the image of a ceiling covered in balloons and streamers!');
  });

  document.getElementById('pika5').addEventListener('click', function() {
    alert('You clicked the image of clear balloons and gold and pink decorations!');
  });

  document.getElementById('pika6').addEventListener('click', function() {
    alert('You clicked the image of a dance floor with clouds on the ceiling!');
  });
</script>
</body>
</html>